.elementor-6
  .elementor-element.elementor-element-65bf4e4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-65bf4e4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-65bf4e4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0em 0em 3em 0em;
}
.elementor-6
  .elementor-element.elementor-element-65bf4e4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-74a7d4e
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-74a7d4e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-74a7d4e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-74a7d4e {
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  border-color: var(--e-global-color-76f026e);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6 .elementor-element.elementor-element-74a7d4e,
.elementor-6
  .elementor-element.elementor-element-74a7d4e
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-74a7d4e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-6 .elementor-element.elementor-element-1ff8ef2 {
  text-align: left;
}
.elementor-6 .elementor-element.elementor-element-1ff8ef2 img {
  width: 70%;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 10em 10em 10em 10em;
  box-shadow: 0px 5px 0px 0px #30312b;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:hover,
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:focus,
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:active,
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li:hover
  > a {
  background-color: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li.current-menu-item
  > a,
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li.current-menu-ancestor
  > a {
  background-color: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-hamburger {
  background-color: var(--e-global-color-76f026e);
  float: right;
  border-style: solid;
  border-color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-close {
  background-color: var(--e-global-color-76f026e);
  border-style: solid;
  border-color: #000000;
  color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-container {
  height: 40px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a {
  font-family: "Gamja Flower", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #30312b;
  padding: 0px 15px 0px 15px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:hover {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:focus {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:active {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li:hover
  > a {
  color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 9px 9px 9px 9px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li:hover
  > a
  .elementskit-submenu-indicator {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:hover
  .elementskit-submenu-indicator {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:focus
  .elementskit-submenu-indicator {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a:active
  .elementskit-submenu-indicator {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li.current-menu-item
  > a {
  color: var(--e-global-color-text);
  border-radius: 9px 9px 9px 9px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li.current-menu-ancestor
  > a {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li.current-menu-ancestor
  > a
  .elementskit-submenu-indicator {
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li {
  margin: 0px 10px 0px 10px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a
  .elementskit-submenu-indicator {
  color: #101010;
  fill: #101010;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  > li
  > a
  .ekit-submenu-indicator-icon {
  color: #101010;
  fill: #101010;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a {
  padding: 15px 15px 15px 15px;
  color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:hover {
  color: #707070;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:focus {
  color: #707070;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:active {
  color: #707070;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:hover
  > a {
  color: #707070;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li.current-menu-item
  > a {
  color: #707070 !important;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-submenu-panel {
  padding: 15px 0px 15px 0px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-navbar-nav
  .elementskit-submenu-panel {
  border-radius: 0px 0px 0px 0px;
  min-width: 220px;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-hamburger
  .elementskit-menu-hamburger-icon {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-hamburger
  > .ekit-menu-icon {
  color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-hamburger:hover
  .elementskit-menu-hamburger-icon {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-hamburger:hover
  > .ekit-menu-icon {
  color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a4fd9b8
  .elementskit-menu-close:hover {
  color: var(--e-global-color-text);
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-6 .elementor-element.elementor-element-c554a3e .elementor-button {
  height: 55px;
  width: 190px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Gamja Flower", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  fill: #30312b;
  color: #30312b;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-76f026e);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 4px 0px 0px #30312b;
}
.elementor-widget-ha-social-icons .ha-social-icon-label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-6 .elementor-element.elementor-element-24decd9 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icons-wrapper
  > .ha-social-icon {
  color: #30312b;
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icons-wrapper
  > .ha-social-icon
  svg {
  fill: #30312b;
}
.elementor-6
  .elementor-element.elementor-element-24decd9.ha-separator--stroke
  .ha-social-icon-separator {
  background: #30312b;
}
.elementor-6
  .elementor-element.elementor-element-24decd9.ha-separator--custom
  .ha-social-icon-separator {
  color: #30312b;
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icons-wrapper
  .ha-social-icon {
  background-color: #ff9300;
  border-color: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icon:not(:last-child) {
  margin-right: 11px;
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icon-separator {
  margin-right: 11px;
}
.elementor-6 .elementor-element.elementor-element-24decd9 .ha-social-icon {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #30312b;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 5px 0px 0px #30312b;
}
.elementor-6
  .elementor-element.elementor-element-24decd9
  .ha-social-icon.ha-social-icon--network {
  font-size: 25px;
  padding: 0.4em;
}
.elementor-6
  .elementor-element.elementor-element-7d7455d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-6 .elementor-element.elementor-element-7d7455d {
  padding: 3em 0em 0em 0em;
}
.elementor-6
  .elementor-element.elementor-element-5b8c66d
  > .elementor-widget-container {
  margin: -1em 0em -1em 0em;
}
.elementor-6 .elementor-element.elementor-element-5b8c66d {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-5b8c66d img {
  width: 60%;
}
.elementor-6
  .elementor-element.elementor-element-8e24132
  > .elementor-widget-container {
  margin: -1em 0em 0em 0em;
}
.elementor-6 .elementor-element.elementor-element-8e24132 {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-8e24132 img {
  width: 95%;
}
.elementor-widget-heading .elementor-heading-title {
  color: #f0b90b;
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-6
  .elementor-element.elementor-element-3a54eeb
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-3a54eeb {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-3a54eeb
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-widget-ucaddon_copy_coupon_code .click-to-copy {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .ue_coupon_code {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .click-to-copy__text,
.elementor-6 .elementor-element.elementor-element-77a3c01 .copy_succes {
  padding: 10px 10px 10px 10px;
  min-width: 100px;
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .click-to-copy__text {
  background-color: var(--e-global-color-text);
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-76f026e);
  border-radius: 17px;
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .click-to-copy {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .copy_succes {
  border-radius: 17px;
  background-color: var(--e-global-color-76f026e);
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .uc-is-copied {
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-77a3c01 .uc-is-copied a {
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .ue_coupon_code {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .click-to-copy__text,
.elementor-6 .elementor-element.elementor-element-ec10c78 .copy_succes {
  padding: 10px 10px 10px 10px;
  min-width: 100px;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .click-to-copy__text {
  background-color: var(--e-global-color-text);
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-76f026e);
  border-radius: 17px;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .click-to-copy {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 23px;
  font-weight: 400;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .copy_succes {
  border-radius: 17px;
  background-color: var(--e-global-color-76f026e);
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .uc-is-copied {
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-ec10c78 .uc-is-copied a {
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-3ed828e {
  padding: 1em 0em 0em 0em;
}
.elementor-6 .elementor-element.elementor-element-6cc728b .elementor-button {
  height: 55px;
  width: 190px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Gamja Flower", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  fill: #30312b;
  color: #30312b;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-76f026e);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 4px 0px 0px #30312b;
}
.elementor-6 .elementor-element.elementor-element-1be4d12 .elementor-button {
  background-color: var(--e-global-color-5c07b2c);
  height: 55px;
  width: 190px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Gamja Flower", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  fill: #ff9300;
  color: #ff9300;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: var(--e-global-color-76f026e);
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 4px 0px 0px #30312b;
}
.elementor-6 .elementor-element.elementor-element-eb987df {
  text-align: right;
}
.elementor-6 .elementor-element.elementor-element-eb987df img {
  width: 80%;
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 6px 10px 0px 0px #30312b;
}
.elementor-6
  .elementor-element.elementor-element-ed7a841:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-ed7a841
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-ed7a841 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 0em 5em 0em;
}
.elementor-6
  .elementor-element.elementor-element-ed7a841
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-87c5c13
  > .elementor-element-populated {
  padding: 0em 5em 0em 5em;
}
.elementor-6
  .elementor-element.elementor-element-0603fc4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-0603fc4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-0603fc4 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #30312b;
  box-shadow: 8px 10px 0px 0px #30312b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-0603fc4,
.elementor-6
  .elementor-element.elementor-element-0603fc4
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-0603fc4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-6506f38 img {
  width: 27%;
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: #f0b90b;
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: #f0b90b;
  border-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-e9f3ea7 {
  text-align: center;
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 47px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-ac5077c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-ac5077c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #4e3e3a;
}
.elementor-6 .elementor-element.elementor-element-ac5077c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 0em 3em 0em;
}
.elementor-6
  .elementor-element.elementor-element-ac5077c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-01c0f3a img {
  width: 38%;
}
.elementor-6
  .elementor-element.elementor-element-4ccea4a
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-4ccea4a {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-4ccea4a
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-6c506e6 {
  padding: 3em 0em 0em 0em;
}
.elementor-6
  .elementor-element.elementor-element-4eae70b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-element-populated {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0em 0em 3em 0em;
  --e-column-margin-right: 0em;
  --e-column-margin-left: 0em;
  padding: 1em 0em 1em 0em;
}
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-background-slideshow {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-4eae70b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-adaadcf
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-adaadcf {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-adaadcf
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-d06cebf
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-d06cebf {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-d06cebf
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-b8c2dee {
  --spacer-size: 50px;
}
.elementor-6
  .elementor-element.elementor-element-aeaea2a:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-element-populated {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 3em 0em 0em 0em;
  --e-column-margin-right: 0em;
  --e-column-margin-left: 0em;
  padding: 1em 0em 1em 0em;
}
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-background-slideshow {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-aeaea2a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-e27b6cf
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-e27b6cf {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-e27b6cf
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-7c340af
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-7c340af {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-7c340af
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-04188f5 {
  --spacer-size: 50px;
}
.elementor-6
  .elementor-element.elementor-element-d4435ba:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-element-populated {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0em 0em 3em 0em;
  --e-column-margin-right: 0em;
  --e-column-margin-left: 0em;
  padding: 1em 0em 1em 0em;
}
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-background-slideshow {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-d4435ba
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-4f176b1
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-4f176b1 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-4f176b1
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-9505f4d
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-9505f4d {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-9505f4d
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-f86f59f {
  --spacer-size: 50px;
}
.elementor-6
  .elementor-element.elementor-element-a8eb069:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-element-populated {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 3em 0em 0em 0em;
  --e-column-margin-right: 0em;
  --e-column-margin-left: 0em;
  padding: 1em 0em 1em 0em;
}
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-element-populated,
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-background-slideshow {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-a8eb069
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-b69be41
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-b69be41 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-b69be41
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-c03d0bb
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-c03d0bb {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-c03d0bb
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6
  .elementor-element.elementor-element-5bb236f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-5bb236f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-5bb236f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 0em 3em 0em;
}
.elementor-6
  .elementor-element.elementor-element-5bb236f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-7135d59 img {
  width: 42%;
}
.elementor-6
  .elementor-element.elementor-element-cfb0909:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-cfb0909
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-cfb0909 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #30312b;
  box-shadow: 8px 10px 0px 0px #30312b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-cfb0909,
.elementor-6
  .elementor-element.elementor-element-cfb0909
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-cfb0909
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-23b86dd
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-23b86dd {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-23b86dd
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-b718af7 {
  text-align: left;
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-6 .elementor-element.elementor-element-18b5e72 {
  padding: 2em 0em 0em 0em;
}
.elementor-6
  .elementor-element.elementor-element-4f13eed:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-4f13eed
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-4f13eed {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #30312b;
  box-shadow: 8px 10px 0px 0px #30312b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-4f13eed,
.elementor-6
  .elementor-element.elementor-element-4f13eed
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-4f13eed
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-93f1cc1
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-93f1cc1 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-93f1cc1
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-183c564 {
  text-align: left;
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-6 .elementor-element.elementor-element-5a0c10d {
  padding: 2em 0em 0em 0em;
}
.elementor-6
  .elementor-element.elementor-element-29f4e44:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-29f4e44
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-29f4e44 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #30312b;
  box-shadow: 8px 10px 0px 0px #30312b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-29f4e44,
.elementor-6
  .elementor-element.elementor-element-29f4e44
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-29f4e44
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-ba7a6fc
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-ba7a6fc {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-ba7a6fc
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-d608274 {
  text-align: left;
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-6 .elementor-element.elementor-element-7d58975 {
  padding: 2em 0em 0em 0em;
}
.elementor-6
  .elementor-element.elementor-element-2b0b568:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-2b0b568
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ff9300;
}
.elementor-6 .elementor-element.elementor-element-2b0b568 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #30312b;
  box-shadow: 8px 10px 0px 0px #30312b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-2b0b568,
.elementor-6
  .elementor-element.elementor-element-2b0b568
  > .elementor-background-overlay {
  border-radius: 18px 18px 18px 18px;
}
.elementor-6
  .elementor-element.elementor-element-2b0b568
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-0ac8a38 {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-0ac8a38 img {
  width: 85%;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 10em 10em 10em 10em;
  box-shadow: 0px 5px 0px 0px #30312b;
}
.elementor-6
  .elementor-element.elementor-element-d929ad8
  > .elementor-widget-container {
  padding: 5px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-d929ad8 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-d929ad8
  .elementor-heading-title {
  color: var(--e-global-color-76f026e);
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.elementor-6 .elementor-element.elementor-element-10281c3 {
  text-align: left;
  color: var(--e-global-color-76f026e);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-6
  .elementor-element.elementor-element-d2920c4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-d2920c4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-d2920c4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 0em 3em 0em;
}
.elementor-6
  .elementor-element.elementor-element-d2920c4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-73acd4c img {
  width: 25%;
}
.elementor-6
  .elementor-element.elementor-element-9b65382
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-4113a03
  > .elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-c612216 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-2511bb3 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-63649b6 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6
  .elementor-element.elementor-element-95cc92d
  > .elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-f6e3158 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-3219353 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-5c43447 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-49cb04a img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-cdee60e img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6
  .elementor-element.elementor-element-cde9c39
  > .elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-6 .elementor-element.elementor-element-33b0e34 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-729a138 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6 .elementor-element.elementor-element-8fbdb55 img {
  width: 100%;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: var(--e-global-color-5c07b2c);
  border-radius: 14px 14px 14px 14px;
  box-shadow: 5px 5px 0px 0px #fdfbef;
}
.elementor-6
  .elementor-element.elementor-element-703fc80:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-703fc80
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-5c07b2c);
}
.elementor-6 .elementor-element.elementor-element-703fc80 {
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-703fc80
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-6a66c65
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-widget-ucaddon_list_marquee .ue_marq_text_wrap {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-ucaddon_list_marquee .ue_marq_desc {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee {
  background-color: #68686800;
  padding: 10px 10px 10px 10px;
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag {
  text-align: center;
  padding: 0px 10px 0px 10px;
  margin: 8px 10px 8px 10px;
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag,
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag a {
  color: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag svg {
  fill: #ffffff;
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue_marq_text_wrap {
  font-family: "Candal", Sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag-icon {
  font-size: 32px;
  color: var(--e-global-color-text);
}
.elementor-6
  .elementor-element.elementor-element-1e76673
  .ue-marquee-tag-icon
  svg {
  width: 32px;
  height: 32px;
  fill: var(--e-global-color-text);
}
.elementor-6 .elementor-element.elementor-element-1e76673 .ue-marquee-tag a {
  gap: 50px;
}
.elementor-6
  .elementor-element.elementor-element-897dc4e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-897dc4e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f0b90b;
}
.elementor-6 .elementor-element.elementor-element-897dc4e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 0em 3em 0em;
}
.elementor-6
  .elementor-element.elementor-element-897dc4e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-1728565 img {
  width: 28%;
}
.elementor-6 .elementor-element.elementor-element-2058ce8 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icons-wrapper
  > .ha-social-icon {
  color: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icons-wrapper
  > .ha-social-icon
  svg {
  fill: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-2058ce8.ha-separator--stroke
  .ha-social-icon-separator {
  background: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-2058ce8.ha-separator--custom
  .ha-social-icon-separator {
  color: var(--e-global-color-76f026e);
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icons-wrapper
  .ha-social-icon {
  background-color: #ff9300;
  border-color: #000000;
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icon:not(:last-child) {
  margin-right: 33px;
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icon-separator {
  margin-right: 33px;
}
.elementor-6 .elementor-element.elementor-element-2058ce8 .ha-social-icon {
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: #30312b;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 0px 0px #000000;
}
.elementor-6
  .elementor-element.elementor-element-2058ce8
  .ha-social-icon.ha-social-icon--network {
  font-size: 93px;
  padding: 0.3em;
}
.elementor-6
  .elementor-element.elementor-element-ce4b2a1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-6
  .elementor-element.elementor-element-ce4b2a1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-76f026e);
}
.elementor-6 .elementor-element.elementor-element-ce4b2a1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5px 0px 5px 0px;
}
.elementor-6
  .elementor-element.elementor-element-ce4b2a1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-4ac10c6
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-4ac10c6 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-4ac10c6
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.elementor-6
  .elementor-element.elementor-element-91f7b71
  > .elementor-widget-container {
  padding: 5px 0px 5px 0px;
}
.elementor-6 .elementor-element.elementor-element-91f7b71 {
  text-align: right;
}
.elementor-6
  .elementor-element.elementor-element-91f7b71
  .elementor-heading-title {
  color: #ff9300;
  font-family: "Gamja Flower", Sans-serif;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .elementor-6 .elementor-element.elementor-element-1ff8ef2 img {
    width: 34%;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-menu-container {
    background-color: #ff9300;
    max-width: 350px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-nav-identity-panel {
    padding: 10px 0px 10px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-navbar-nav
    > li
    > a {
    color: #000000;
    padding: 10px 15px 10px 15px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-navbar-nav
    > li {
    margin: 10px 0px 0px 10px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    padding: 15px 15px 15px 15px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-navbar-nav
    .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-menu-hamburger {
    padding: 8px 8px 8px 8px;
    width: 45px;
    border-radius: 3px;
    border-width: 2px 2px 2px 2px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-menu-close {
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
    width: 45px;
    border-radius: 3px;
    border-width: 2px 2px 2px 2px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-nav-logo
    > img {
    max-width: 160px;
    max-height: 60px;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-nav-logo {
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
  }
  .elementor-6 .elementor-element.elementor-element-6cc728b .elementor-button {
    height: 50px;
    width: 170px;
  }
  .elementor-6 .elementor-element.elementor-element-1be4d12 .elementor-button {
    height: 50px;
    width: 170px;
  }
  .elementor-6 .elementor-element.elementor-element-eb987df img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-6506f38 img {
    width: 45%;
  }
  .elementor-6 .elementor-element.elementor-element-e9f3ea7 {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-01c0f3a img {
    width: 50%;
  }
  .elementor-6
    .elementor-element.elementor-element-4ccea4a
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6
    .elementor-element.elementor-element-adaadcf
    .elementor-heading-title {
    font-size: 23px;
  }
  .elementor-6
    .elementor-element.elementor-element-d06cebf
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-e27b6cf
    .elementor-heading-title {
    font-size: 23px;
  }
  .elementor-6
    .elementor-element.elementor-element-7c340af
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-4f176b1
    .elementor-heading-title {
    font-size: 23px;
  }
  .elementor-6
    .elementor-element.elementor-element-9505f4d
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-b69be41
    .elementor-heading-title {
    font-size: 23px;
  }
  .elementor-6
    .elementor-element.elementor-element-c03d0bb
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-7135d59 img {
    width: 57%;
  }
  .elementor-6
    .elementor-element.elementor-element-23b86dd
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-b718af7 {
    font-size: 18px;
  }
  .elementor-6
    .elementor-element.elementor-element-93f1cc1
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-183c564 {
    font-size: 18px;
  }
  .elementor-6
    .elementor-element.elementor-element-ba7a6fc
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-d608274 {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-0ac8a38 img {
    width: 90%;
  }
  .elementor-6
    .elementor-element.elementor-element-d929ad8
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-10281c3 {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-73acd4c img {
    width: 35%;
  }
  .elementor-6 .elementor-element.elementor-element-1728565 img {
    width: 40%;
  }
  .elementor-6
    .elementor-element.elementor-element-2058ce8
    .ha-social-icon.ha-social-icon--network {
    font-size: 75px;
  }
}
@media (min-width: 768px) {
  .elementor-6 .elementor-element.elementor-element-b37a18a {
    width: 10%;
  }
  .elementor-6 .elementor-element.elementor-element-3eb1646 {
    width: 50%;
  }
  .elementor-6 .elementor-element.elementor-element-229cfc0 {
    width: 20%;
  }
  .elementor-6 .elementor-element.elementor-element-ad449ce {
    width: 19.752%;
  }
  .elementor-6 .elementor-element.elementor-element-4eae70b {
    width: 22%;
  }
  .elementor-6 .elementor-element.elementor-element-09bce98 {
    width: 4%;
  }
  .elementor-6 .elementor-element.elementor-element-aeaea2a {
    width: 22%;
  }
  .elementor-6 .elementor-element.elementor-element-362ddad {
    width: 4%;
  }
  .elementor-6 .elementor-element.elementor-element-d4435ba {
    width: 22%;
  }
  .elementor-6 .elementor-element.elementor-element-5b865f4 {
    width: 3.548%;
  }
  .elementor-6 .elementor-element.elementor-element-a8eb069 {
    width: 22%;
  }
  .elementor-6 .elementor-element.elementor-element-2d7dbfd {
    width: 30%;
  }
  .elementor-6 .elementor-element.elementor-element-3ebff9c {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-6ab9368 {
    width: 20%;
  }
  .elementor-6 .elementor-element.elementor-element-ff8ebf1 {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-4bc92a7 {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-9fe36f3 {
    width: 20%;
  }
  .elementor-6 .elementor-element.elementor-element-ad7fd80 {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-6bbd6d3 {
    width: 30%;
  }
  .elementor-6 .elementor-element.elementor-element-f6605c9 {
    width: 30%;
  }
  .elementor-6 .elementor-element.elementor-element-fb6774a {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-dff3a81 {
    width: 20%;
  }
  .elementor-6 .elementor-element.elementor-element-cabbd10 {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-13c0de1 {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-288d002 {
    width: 20%;
  }
  .elementor-6 .elementor-element.elementor-element-d76aac6 {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-98ce1ca {
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-6 .elementor-element.elementor-element-b37a18a {
    width: 30%;
  }
  .elementor-6 .elementor-element.elementor-element-3eb1646 {
    width: 70%;
  }
  .elementor-6 .elementor-element.elementor-element-cb9978c {
    width: 55%;
  }
  .elementor-6 .elementor-element.elementor-element-9dfd0ac {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .elementor-6 .elementor-element.elementor-element-65bf4e4 {
    padding: 0em 0em 2em 0em;
  }
  .elementor-6 .elementor-element.elementor-element-b37a18a {
    width: 30%;
  }
  .elementor-6 .elementor-element.elementor-element-1ff8ef2 img {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-3eb1646 {
    width: 70%;
  }
  .elementor-6
    .elementor-element.elementor-element-a4fd9b8
    .elementskit-nav-logo
    > img {
    max-width: 120px;
    max-height: 50px;
  }
  .elementor-6 .elementor-element.elementor-element-5b8c66d img {
    width: 80%;
  }
  .elementor-6 .elementor-element.elementor-element-8e24132 img {
    width: 100%;
  }
  .elementor-6
    .elementor-element.elementor-element-3a54eeb
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6 .elementor-element.elementor-element-77a3c01 .click-to-copy {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-ed7a841 {
    padding: 2em 0em 3em 0em;
  }
  .elementor-6
    .elementor-element.elementor-element-87c5c13
    > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }
  .elementor-6 .elementor-element.elementor-element-6506f38 img {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-01c0f3a img {
    width: 95%;
  }
  .elementor-6
    .elementor-element.elementor-element-4ccea4a
    .elementor-heading-title {
    font-size: 20px;
    line-height: 1.4em;
  }
  .elementor-6 .elementor-element.elementor-element-6c506e6 {
    padding: 2em 0em 0em 0em;
  }
  .elementor-6 .elementor-element.elementor-element-4eae70b {
    width: 45%;
  }
  .elementor-6
    .elementor-element.elementor-element-4eae70b
    > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
  }
  .elementor-6
    .elementor-element.elementor-element-adaadcf
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-d06cebf
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-09bce98 {
    width: 5%;
  }
  .elementor-6 .elementor-element.elementor-element-b8c2dee {
    --spacer-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-aeaea2a {
    width: 45%;
  }
  .elementor-6
    .elementor-element.elementor-element-aeaea2a
    > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
  }
  .elementor-6
    .elementor-element.elementor-element-e27b6cf
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-7c340af
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-04188f5 {
    --spacer-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-d4435ba {
    width: 45%;
  }
  .elementor-6
    .elementor-element.elementor-element-d4435ba
    > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
  }
  .elementor-6
    .elementor-element.elementor-element-4f176b1
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-9505f4d
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-5b865f4 {
    width: 5%;
  }
  .elementor-6 .elementor-element.elementor-element-f86f59f {
    --spacer-size: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-a8eb069 {
    width: 45%;
  }
  .elementor-6
    .elementor-element.elementor-element-a8eb069
    > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
  }
  .elementor-6
    .elementor-element.elementor-element-b69be41
    .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-6
    .elementor-element.elementor-element-c03d0bb
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-6 .elementor-element.elementor-element-7135d59 img {
    width: 100%;
  }
  .elementor-6 .elementor-element.elementor-element-1f35b49 img {
    width: 50%;
  }
  .elementor-6 .elementor-element.elementor-element-302939c img {
    width: 50%;
  }
  .elementor-6 .elementor-element.elementor-element-955480c img {
    width: 50%;
  }
  .elementor-6 .elementor-element.elementor-element-0ac8a38 img {
    width: 50%;
  }
  .elementor-6 .elementor-element.elementor-element-73acd4c img {
    width: 75%;
  }
  .elementor-6 .elementor-element.elementor-element-1e76673 .ue_marq_text_wrap {
    font-size: 25px;
  }
  .elementor-6
    .elementor-element.elementor-element-1e76673
    .ue-marquee-tag-icon {
    font-size: 25px;
  }
  .elementor-6
    .elementor-element.elementor-element-1e76673
    .ue-marquee-tag-icon
    svg {
    width: 25px;
    height: 25px;
  }
  .elementor-6 .elementor-element.elementor-element-1728565 img {
    width: 75%;
  }
  .elementor-6
    .elementor-element.elementor-element-2058ce8
    .ha-social-icon:not(:last-child) {
    margin-right: 22px;
  }
  .elementor-6
    .elementor-element.elementor-element-2058ce8
    .ha-social-icon-separator {
    margin-right: 22px;
  }
  .elementor-6
    .elementor-element.elementor-element-2058ce8
    .ha-social-icon.ha-social-icon--network {
    font-size: 50px;
  }
  .elementor-6 .elementor-element.elementor-element-f757475.elementor-column {
    -webkit-box-ordinal-group: calc(2 + 1);
    -ms-flex-order: 2;
    order: 2;
  }
  .elementor-6 .elementor-element.elementor-element-4ac10c6 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-4ac10c6
    .elementor-heading-title {
    font-size: 15px;
  }
  .elementor-6 .elementor-element.elementor-element-91f7b71 {
    text-align: center;
  }
}
